<html>
  <head>
    <title>ISV Commercetools Extension</title>
    <base href="/" />
    <link rel="stylesheet" href="styles.css" />
    <script type="text/javascript" src="orders.js"></script>
    <% var i=0 %>
    <% var fractionDigits = 0 %>
  </head>

  <body>
    <h1 class="order">ISV Commercetools Extension</h1>
    <% if(orderErrorMessage){%>
    <div class="alert alert-error alert-dismissible" id="orderErrorMessage">
      <em class="mark error"></em>
      <%=orderErrorMessage%>
    </div>
    <%} %> <% if(orderSuccessMessage){%>
    <div class="alert alert-success alert-dismissible" id="orderSuccessMessage">
      <em class="mark check"></em>
      <%=orderSuccessMessage%>
    </div>
    <% } %>

    <div class="leftDiv"><h1>Payments</h1></div>
    <div class="buttonright"><a class="button" href="/configureExtension" role="button" id="runScript">Run Script</a></div>
    <% if(total != 0) { %>
    <div class="buttonright"><a class="button" href="/decisionSync" role="button" id="decisionSync">Run Decision Sync</a></div>
    <div class="buttonright"><a class="button" href="/sync" role="button" id="sync">Run Sync</a></div>
    <% } %>
    <table class="order" id="paymentDetailsTable">
      <tr>
        <th>Payment Id</th>
        <th>Order Total</th>
        <th>Payment Method</th>
        <th>Date Created</th>
        <th>Date Modified</th>
      </tr>
      <% if (JSON.stringify(count)==(JSON.stringify(0)) ) { %>
      <tr>
        <td colspan="6" class="text-align">There are no orders</td>
      </tr>
      <% } else{ %> 
        <% orderList.forEach(function(list){ %> 
          <% if(list.transactions.length!=0) { %>
            <% fractionDigits = list.amountPlanned.fractionDigits %>
            <tr id="cell-<%= i++ %>" class="row" data-href='/paymentdetails?id=<%=list.id %>' data-url="/paymentdetails?id=<%=list.id %>">
            <td><%=list.id %></td>
            <td><%= list.amountPlanned.currencyCode%> <%=amountConversion(list.amountPlanned.centAmount, fractionDigits) %></td>
        <% if (list.paymentMethodInfo.name) { %>
        <td><%=list.paymentMethodInfo.name.en%></td>
        <% } else { %>
        <td><%=list.paymentMethodInfo.method%></td>
        <% } %>
        <td><%= moment(list.createdAt).format('DD/MM/YYYY HH:mm:ss') %></td>
        <td><%= moment(list.lastModifiedAt).format('DD/MM/YYYY HH:mm:ss') %></td>
      </tr>
      <% }%> <% }) %> <% } %>
    </table>
    <b>Most recent <%=count%> of <%=total%></b>
    <div id="loading"><span> Loading... </span></div>
  </body>
</html>
